target/
!.mvn/wrapper/maven-wrapper.jar
bin
build
build.log
activemq-data
MANIFEST.MF
.metadata
.springBeans
.gradle
.factorypath
.DS_Store
$RECYCLE.BIN/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.gradletasknamecache
secrets.yml

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

*.log